/* header text */
h1 {
	color: #a1de93;
	text-align: center;
	}

/*sidebar header*/
h3 {color: #e2e1e1;
	text-align: center;}

/*main text*/
p {color: #e2e1e1}

em{color: #e2e1e1}

div.element-container.css-h65qpl.e1tzin5v2 {color: #e2e1e1}

div.css-1n543e5.edgvbvh10 {color: yellow;}

table, th, td {
  border: 1px solid; border-color: #e2e1e1 !important;
}
}
/*dropdowns*/
div.row-widget.stSelectbox {color:#77777b !important}

/*main paige*/
section.main.css-uf99v8.egzxvld5 {background-color: #313131;}

/* header bar */
header.css-156zk6h.e8zbici2{background-color: #313131;}
header.css-18ni7ap.e8zbici2 {background-color: #313131}
header.css-1avcm0n.e8zbici2 {background-color: #313131}



/*footer*/
footer.css-1fob2v9.egzxvld1 {background-color: #313131}


